@{
  Layout = "_Layout";
}
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Epicodus' Medical Center</h1>
  <p class="lead">Get started online now.</p>
  <img src="https://images.pexels.com/photos/5452223/pexels-photo-5452223.jpeg" alt="docs" width="60%" >
</div>

@* <p>@Html.ActionLink("See all doctors", "Index", "Doctors")</p> 
<p>@Html.ActionLink("See all specialties", "Index", "Specialties")</p>
<p>@Html.ActionLink("See all patients", "Index", "Patients")</p> *@